.home{
    display: flex;
    .homeContainer{
        
        flex: 6;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;

        }
        .charts{
       padding-top: 50px;
        }
        .listContainer{
            -webkit-box-shadow: inset 9px 7px 30px -10px rgba(245,237,245,1);
            -moz-box-shadow: inset 9px 7px 30px -10px rgba(245,237,245,1);
            box-shadow: inset 9px 7px 30px -10px rgba(245,237,245,1);
            padding: 20px;
            margin: 20px;

       .listTitle{
       font-weight: 500;
       color: gray;
       margin-bottom: 15px;
       }
       
        }
    }
}